@import url("../fonts/TTFirs-Regular/ttfirsregular.css")
@import url("../fonts/TTFirs-ExtraBold/ttfirsextrabold.css")
@import url("../fonts/TTFirs-Medium/style.css")
@import url("../fonts/TTFirs-Bold/style.css")
    
$fontregular: 'TT Firs', Regular
$fontextrabold: 'TT Firs', ExtraBold
$fontroboto: 'Roboto', sans-serif
$fontbold: 'TT Firs', Bold
$fontmedium: 'TT Firs', Medium

* 
    margin: 0
    padding: 0
    box-sizing: border-box


@import components/_nav
@import components/_header
@import components/_introduction
@import components/_actual
@import components/_analysis
@import components/_technology
@import components/_blink
@import components/_conclusion
@import components/_opinion
@import components/_footer