@import url("../fonts/TTFirs-Regular/ttfirsregular.css");
@import url("../fonts/TTFirs-ExtraBold/ttfirsextrabold.css");
@import url("../fonts/TTFirs-Medium/style.css");
@import url("../fonts/TTFirs-Bold/style.css");
@media (max-width: 1000px) {
  .sidebar {
    width: 100%;
    height: 90%;
    border-radius: 0px 0px 100px 100px;
    padding: 75px 30px;
    text-align: end;
    background-color: #FFF;
    transform: translate(100%);
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 2;
  }

  .sidebar-active {
    transform: translate(0%);
  }

  .nav {
    display: none;
  }
  .nav__mobile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 8% 0% 8%;
  }
  .nav__burger {
    display: block;
    transition: box-shadow 0.3s ease;
    z-index: 3;
  }
  .nav__burger-active {
    position: fixed;
    top: 55px;
    left: 85%;
  }
  .nav__burger-active div:nth-child(1) {
    transform: translateY(2px) rotate(45deg);
    background: #3BA603;
  }
  .nav__burger-active div:nth-child(2) {
    opacity: 0;
  }
  .nav__burger-active div:nth-child(3) {
    transform: translateY(-18px) rotate(-45deg);
    background: #3BA603;
  }
  .nav__block {
    display: flex;
    flex-direction: column;
  }
  .nav__block a {
    margin-top: 30px;
  }
  .nav__logo {
    position: absolute;
    top: 25px;
  }
  .nav__link {
    color: #1E204D;
    font-size: 24px;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
  }
  .nav__link-first {
    padding-top: 50px;
  }
  .nav__burger div {
    width: 26px;
    height: 3px;
    background: #FFF;
    transition: all 0.3s ease;
  }
  .nav__burger div:nth-child(2) {
    margin-top: 7px;
  }
  .nav__burger div:nth-child(3) {
    margin-top: 7px;
  }

  .header {
    border-radius: 0px 0px 100px 100px;
  }
  .header__title h1 {
    font-size: 30px;
    font-family: "TT Firs", Bold;
    width: 100%;
    line-height: 100%;
  }
  .header__inner {
    padding: 50px 5% 105px 5%;
    background: none;
  }
  .header__arrow {
    display: none;
  }
  .header__wrapper {
    margin: 0%;
    background: url(../img/header-blur.png) no-repeat;
    background-size: 90%;
    background-position: 114% 73%;
  }
  .header__button {
    padding-bottom: 100px;
    text-align: center;
  }

  .btn {
    font-size: 14px;
    font-family: "TT Firs", Bold;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    line-height: 16px;
  }

  .btn-white {
    margin-bottom: 30px;
  }

  .introduction p {
    font-size: 20px;
    padding: 0% 5% 10% 5%;
  }

  .introm {
    display: flex;
    margin: 7% auto;
    width: 100%;
  }

  .introd {
    display: none;
  }

  .actual {
    border-radius: 0px 150px;
  }
  .actual__wrapper-h1 {
    font-size: 30px;
  }
  .actual__wrapper-p {
    font-size: 20px;
    margin-bottom: 50px;
  }
  .actual__inner {
    display: none;
  }
  .actual__inner-mobile {
    display: flex;
    margin-bottom: 2%;
    justify-content: space-between;
    margin-bottom: 8%;
  }
  .actual__inner-mobile-item {
    border: 2px solid #3BA605;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .actual__inner-mobile-item p {
    color: #3BA605;
    font-size: 25px;
    font-family: "TT Firs", Medium;
    margin-bottom: 32px;
    text-align: center;
  }
  .actual__inner-mobile-item img {
    margin-top: 32px;
    margin-bottom: 30px;
  }
  .actual__bottom {
    text-align: start;
  }
  .actual__button .btn-white {
    display: none;
  }
  .actual__button .btn-green {
    display: inline-block;
  }

  .analysis__inner-mobile {
    display: block;
  }
  .analysis__inner-mobile ul li {
    padding: 20px;
  }
  .analysis__inner-mobile ul li:hover {
    background: #2E8502;
    transition: 0.3s;
  }

  .technology h1 {
    font-size: 30px;
    letter-spacing: 0.1em;
  }

  .technology p {
    font-size: 20px;
  }

  .technology {
    border-radius: 200px 0px;
    padding: 100px 3%;
  }
  .technology__wrapper {
    flex-direction: column;
    align-items: center;
  }
  .technology__inner-item button {
    width: 85vw;
  }
  .technology__inner-item-1 {
    margin: 0;
  }
  .technology__inner-item-2 {
    margin: 0;
  }
  .technology__button {
    display: none;
  }

  .blink h1 {
    font-size: 30px;
    letter-spacing: 0.1em;
  }

  .blink p {
    font-size: 20px;
  }

  .blink__inner h1 {
    font-size: 28px;
  }
  .blink__inner p {
    font-size: 20px;
  }
  .blink__inner-first {
    background: url(../img/1blur.png) no-repeat;
  }
  .blink__inner-second {
    background: url(../img/2blur.png) no-repeat;
  }
  .blink__inner-third {
    background: url(../img/3blur.png) no-repeat;
  }
  .blink__inner-fourth {
    background: url(../img/4blur.png) no-repeat;
  }
  .blink__inner-fifth {
    background: url(../img/5blur.png) no-repeat;
  }
  .blink__inner-mobile {
    margin-top: 100px;
  }
  .blink__wrapper-number {
    display: none;
  }
  .blink__wrapper-list li {
    margin-left: 1%;
  }
  .blink__switch {
    display: none;
  }

  .conclusion h1 {
    font-size: 30px;
  }

  .conclusion p {
    font-size: 20px;
  }

  .opinion__title h1 {
    font-size: 30px;
  }

  .opinion__title p {
    font-size: 20px;
  }

  .next__mobile {
    display: block;
  }

  .next__desktop {
    display: none;
  }

  .item {
    padding: 100px 0px 50px 0px;
  }

  .item__text {
    font-weight: 300;
  }

  .item__text p {
    margin: 50px 30px 4% 30px;
  }

  .item__inner {
    display: block;
  }

  .item__inner-header-mobile {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .leftarrowm {
    width: 30px;
    height: 50px;
  }

  .rightarrowm {
    width: 30px;
    height: 50px;
  }

  .roundm {
    width: 250px;
    height: 250px;
  }

  .leftarrow {
    display: none;
  }

  .rightarrow {
    display: none;
  }

  .round {
    display: none;
  }

  .myear2020 {
    display: none;
  }

  .myear2021 {
    display: none;
  }

  .myear2025 {
    display: none;
  }

  .mbyear2020 {
    display: none;
  }

  .mbyear2021 {
    display: none;
  }

  .mbyear2025 {
    display: none;
  }

  .mactive {
    display: list-item;
  }

  .icon__active {
    background: #3BA605;
    transition: 0.3s;
  }

  .icontext__example h1 {
    font-size: 24px;
    font-family: "TT Firs", Bold;
    text-decoration: underline;
    color: #3BA605;
  }

  .icontext__example p {
    font-size: 20px;
    font-family: "TT Firs", Medium;
    line-height: 130%;
    margin-top: 24px;
    color: #000;
  }

  .icontext__example {
    margin-top: 85px;
    text-align: center;
  }

  .icon__active p {
    color: #FFF;
  }

  .icon__active .icon__img1 {
    display: none;
  }

  .icon__active .icon__img2 {
    display: block;
  }

  .icon__img2 {
    display: none;
  }

  .icon1 {
    margin-right: 8%;
  }

  .icon3 {
    margin-right: 8%;
  }

  .icon5 {
    margin-right: 8%;
  }

  .icon7 {
    margin-right: 8%;
  }

  .icon1text {
    display: none;
  }

  .icon2text {
    display: none;
  }

  .icon3text {
    display: none;
  }

  .icon4text {
    display: none;
  }

  .icon5text {
    display: none;
  }

  .icon6text {
    display: none;
  }

  .icon7text {
    display: none;
  }

  .icon8text {
    display: none;
  }

  .icontext__active {
    display: block;
    margin-bottom: 15%;
  }

  .btn-icon {
    margin-top: 50px;
    width: 100%;
  }

  .analysis__wrapper h1 {
    letter-spacing: 0;
    font-size: 30px;
    text-transform: uppercase;
  }
  .analysis__wrapper p {
    font-size: 20px;
  }
  .analysis__inner {
    display: none;
  }
  .analysis__inner-mobile ul {
    background-color: #3BA605;
  }
  .analysis__inner-mobile ul li {
    font-size: 16px;
    font-family: "TT Firs", ExtraBold;
    letter-spacing: 0.1em;
    color: #FFF;
  }

  .analysis__wrapper-list li {
    margin-left: 1%;
  }
}
@media (max-width: 320px) {
  .nav__mobile {
    padding: 30px 5% 0% 5%;
  }
}
@media (max-width: 475px) {
  .analysis__wrapper-list li {
    margin-left: 4%;
  }

  .blink__wrapper-list li {
    margin-left: 4%;
  }
}

/*# sourceMappingURL=mobile.css.map */
