.analysis
    margin: 100px 3%
    

    &__wrapper h1
        font: 
            family: $fontbold
            size: 42px
        letter-spacing: 0.1em
        margin-bottom: 50px

    &__wrapper p
        font:
            size: 24px
            family: $fontregular
        margin-bottom: 91px

    &__wrapper

        &-list li
            font:
                size: 20px
                family: $fontmedium
            line-height: 130%
        &-list
            margin-top: 70px
            margin-left: 3%



    &__inner
        border-radius: 20px
        border: 1px solid #000
        height: 60px


        display: flex
        justify-content: space-between


        &-mobile
            display: none
        
        &-item p
            font:
                size: 22px
                family: $fontbold
                weight: 600
            margin-left: 5%
            margin-top: 3%


        &-item
            width: 100%
            cursor: pointer


        &-item1
            border-right: 1px solid #000

        &-item3
            border-left: 1px solid #000
        &-itemgreen2
            background: #3BA605
            color: #FFF

        &-itemgreen1
            background: #3BA605
            color: #FFF
            border-radius: 19px 0px 0px 19px

        &-itemgreen3
            background: #3BA605
            color: #FFF
            border-radius: 0px 19px 19px 0px


        &-hr
            background-color: #000
            border-top: none
            color: #000

.list1
    display: none

.list2
    display: none

.list3
    display: none

.list1active
    display: block

.list2active
    display: block

.list3active
    display: block

.next__mobile
    display: none

.item__inner-header-mobile
    display: none