.opinion
    
    &__title
        margin: 100px 3%

    &__title h1
        font: 
            family: $fontbold
            size: 42px
        letter-spacing: 0.1em
        margin-bottom: 50px
        padding-top: 100px

    &__title p
        font:
            size: 24px
            family: $fontregular
        margin-bottom: 91px


.item
    background: #3BA605
    border-radius: 250px 250px 0px 0px
    padding: 110px 30px 50px 30px

    &__inner
        display: flex
        align-items: center
        justify-content: space-between

    &__text
        display: flex
        flex-direction: column

        font:
            size: 20px
            weight: 400
            family: $fontroboto
        color: #FFF

    &__text p
        margin-bottom: 4%
        width: 90%
        line-height: 26px
    
.round
    margin-right: 2%

.leftarrow
    margin-right: 3%
    cursor: pointer

.rightarrow
    margin-left: 3%
    cursor: pointer

.item__switch
    display: flex
    
.switch
    width: 10px
    height: 10px
    border-radius: 10px
    background: #FFF
    margin-right: 10px

    &__active
        background: #000
        width: 10px
        height: 10px
        border-radius: 10px
        margin-right: 10px